.container-navbar{
    display: flex;
    gap:2rem;
    width: 100%;
    justify-content: center;
    position: absolute;
    top:35%;
}

p{
    color: rgba(179, 179, 179,0.7);
    display: flex;
    justify-content: center;
    padding-top:20px;
    font-size: 20px;
    font-family: 'Sharp Sans', sans-serif;
}